/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
    scroll-padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-image: url(/img/red\ and\ black.png);
    background-position: left;
    background-size: 65%;
    background-repeat: repeat;
}


/* HEADER LOGO */
.nav {
    display: flex;
    justify-content: center;
}

.logo {
    width: 35%;
}

.heading {
    color: rgba(255, 255, 255, 0.808);
    font-size: 5rem;
    text-align: center;
    font-family: 'New Rocker', cursive;
}

/* INVISIBLE LINK */
.invisible-link {
    font-size: 40rem;
    position: absolute;
    opacity: 0;
    cursor: pointer; 
}

/* SPONSOR LOGO */
.logo-container {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    width: 70%;
    margin: 15rem 24rem;
}
.l1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 3rem;
}
.l1:hover {
    cursor: pointer;
}

/* PHOTO GRID */
.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 15rem 4rem;
    position: relative;
}

.p1 {
    width: 85%;
    border: .3rem solid #69100a85;
    margin-top: 4rem;
}

.readmore {
    position: absolute;
    font-family: 'Mea Culpa', cursive;
    font-size: 4rem;
    letter-spacing: .2rem;
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.808);
    background-color: #69100aa9;
    border: .2rem solid #69100A;
    border-radius: 2rem;
    top: 40%;
    left: 39%;
    width: 30rem;
    height: 12rem;
}

.readmore:hover {
    background-color: #69100A;
    border: .3rem solid #420b07;
}


/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr .5fr;
    grid-template-areas: 
    'logo'
    'icons'
    'copyright';
    height: 32vw;
    background-color: black;
    border-top: .5rem solid #69100a85;
}

.foot-logo {
    grid-area: logo;
    width: 13%;
    align-self: center;
    justify-self: center;
    margin-top: 8rem;
}

.icons-group {
    grid-area: icons; 
    justify-self: center;
    margin-top: 2rem;
    display: inline-flex;
}

.icon {
    padding: 1.5rem;
    color: rgba(255, 255, 255, 0.589);
    font-size: 4rem;
    text-decoration: none;
}

.icon:hover {
    color: white;
}

.copyright {
    color: rgba(255, 255, 255, 0.808);
    justify-self: center;
    font-size: 1.5rem;
    text-align: center;
    font-family: raleway;
    font-weight: 200;
    display: block;
}

.copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.808);
}

.copyright a:hover {
    color: white;
}















/* MEDIA QUERIES */

@media screen and (max-width: 1600px) {
    /* .heading {
        color: steelblue;
    } */
    /* SPONSOR LOGO */
    .logo-container {
        width: 72%;
        margin: 15rem 21rem;
    }
    /* PHOTO GRID */
    .readmore { 
        left: 38%;  
    }
}

@media screen and (max-width: 1415px) {
    /* .heading {
        color: saddlebrown;
    } */
    /* HEADER NAVBAR */
    .logo {
        width: 33%;
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 35rem;  
    }
    /* SPONSOR LOGO */
    .logo-container {
        width: 75%;
        margin: 15rem 16rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 15rem 3rem;
    }
    .readmore {
        font-size: 3.8rem;
        top: 38%;
        width: 28rem;
        height: 11rem;
    }
    
}
@media screen and (max-width: 1315px) {
    /* .heading {
        color: seagreen;
    } */
    /* COMMON STYLES */
    body {
        background-size: 70%;
    }
    /* HEADER LOGO */
    .logo {
        width: 31%;
    }
    .heading {
        font-size: 4.5rem; 
        margin-right: 3rem;
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 32rem;  
    }
    /* SPONSOR LOGO */
    .logo-container {
        width: 76%;
        margin: 13rem 14rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 13rem 3rem;
    }
    .readmore {
        left: 37%;
    }
}

@media screen and (max-width: 1210px) {
    /* .heading {
        color: yellow;
    } */
    /* HEADER LOGO */
    .logo {
        width: 30%;
    }
    .heading {
        font-size: 4rem; 
        margin-right: 0;
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 30rem;  
    }
    /* SPONSOR LOGO */
    .logo-container {
        width: 78%;
        margin: 13rem 11rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 13rem 2.8rem;
    }
    .readmore {
        font-size: 3.6rem;
        top: 38%;
        width: 26rem;
        height: 10.5rem;
    }
    /* FOOTER */
    .icon {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1150px) {
    /* .heading {
        color: black;
    } */
    /* PHOTO GRID */
    .photo-container {
        margin: 13rem 2.7rem;
    }
    .readmore {
        top: 37%;
        width: 25rem;
    }
}

@media screen and (max-width: 1100px) {
    /* .heading {
        color: navy;
    } */
    /* PHOTO GRID */
    .photo-container {
        margin: 11rem 2.7rem;
    }
    .readmore {
        font-size: 3.4rem;
        width: 24rem;
        height: 10rem;
    }
}

@media screen and (max-width: 1050px) {
    /* .heading {
        color: violet;
    } */
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 27rem;  
    }
    /* SPONSOR LOGO */
    .logo-container {
        width: 79%;
        margin: 13rem 9rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 11rem 1.8rem;
    }
    .p1 {
        width: 89%;
    }
    /* FOOTER */
    .icon {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 999px) {
    /* .heading {
        color: olive;
    } */
    /* PHOTO GRID */
    .photo-container {
        margin: 11rem 1.7rem;
    }
    .readmore {
        left: 36.5%;
    }
}

@media screen and (max-width: 965px) {
    /* .heading {
        color: palegoldenrod;
    } */
    /* PHOTO GRID */
    .photo-container {
        grid-template-columns: 1fr 1fr;
        width: 90%;  
        margin: 9rem 7rem;    
    }
    .readmore {
        left: 58%;
        top: 39%;
    }
}

@media screen and (max-width: 910px) {
    /* .heading {
        color: tomato;
    } */
    /* COMMON STYLES */
    body {
        background-size: 80%;
    }
    /* HEADER NAVBAR */
    .logo {
        width: 35%;
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 24rem;  
    }
    /* SPONSOR LOGO */
    .logo-container {
        width: 81%;
        margin: 13rem 7rem;
    }
    /* FOOTER */
    .copyright {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 855px) {
    /* .heading {
        color: blue;
    } */
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 22rem;  
    }
    /* SPONSOR LOGO */
    .logo-container {
        width: 83%;
        margin: 11rem 5rem;
    }
    /* PHOTO GRID */
    .readmore {
        top: 38%;
        left: 56.5%;
    }
    /* FOOTER */
    .footer {
        height: 36vw;
    }
}

@media screen and (max-width: 820px) {
    /* .heading {
        color: grey;
    } */
    /* HEADER LOGO */
    .heading {
        font-size: 3.5rem; 
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 20rem;  
    }
}

@media screen and (max-width: 775px) {
    /* .heading {
        color: hotpink;
    } */
    /* COMMON STYLES */
    body {
        background-size: 85%;
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 18rem;  
    }
    /* SPONSOR LOGO */
    .logo-container {
        width: 85%;
        margin: 11rem 4rem;
    }
    /* PHOTO GRID */
    .readmore {
        top: 37.5%;
        left: 55.5%;
    }
    /* FOOTER */
    .footer {
        height: 40vw;
    }
}

@media screen and (max-width: 750px) {
    /* .heading {
        color: darkred;
    } */
    /* SPONSOR lOGO */
    .logo-container {
        grid-template-columns: .5fr .6fr 1fr;
        margin: 8rem 8rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 9rem 5rem;    
    }
    .readmore {
        top: 37.5%;
        left: 54%;
    }
}

@media screen and (max-width: 698px) {
    /* .heading {
        color: deepskyblue;
    } */
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 16rem;  
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 9rem 4.5rem;    
    }
    .p1 {
        width: 92%;
    }
    .readmore {
        font-size: 3.2rem;
        width: 22rem;
        height: 9rem;
        left: 55%;
    }
    /* FOOTER */
    .footer {
        height: 45vw;
    }
}

@media screen and (max-width: 640px) {
    /* .heading {
        color: papayawhip;
    } */
    /* SPONSOR lOGO */
    .logo-container {
        grid-template-columns: .5fr .6fr 1fr;
        margin: 8rem 5rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 6rem 4rem;    
    }
    .p1 {
        margin-top: 3rem;
    }
    .readmore {
        font-size: 3rem;
        width: 21rem;
        height: 8.5rem;
    }
}

@media screen and (max-width: 621px) {
    /* .heading {
        color: darkslategrey;
    } */
    /* PHOTO GRID */
    .p1 {
        margin-top: 2.5rem;
    }
    .readmore {
        left: 54%;
    }
}

@media screen and (max-width: 595px) {
    /* .heading {
        color: orange;
    } */
    /* COMMON STYLES */
    body {
        background-size: 90%;
    }
    /* HEADER NAVBAR */
    .logo {
        width: 40%;
    }
    /* HEADER LOGO */
    .heading {
        font-size: 3.2rem; 
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 15rem;  
    }
    /* PHOTO GRID */
    .readmore {
        font-size: 2.8rem;
        width: 20rem;
        height: 7.5rem;
    }
    /* FOOTER */
    .footer {
        height: 55vw;
    }
    .foot-logo {
        width: 15%;
    }
}

@media screen and (max-width: 555px) {
    /* .heading {
        color: palevioletred;
    } */
    /* HEADER LOGO */
    .heading {
        font-size: 3rem; 
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 13rem;  
    }
    /* PHOTO GRID */
    .readmore {
        font-size: 2.6rem;
        width: 18rem;
        height: 7rem;
        left: 55%;
    }
    /* FOOTER */
    .icon {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 520px) {
    /* .heading {
        color: forestgreen;
    } */
    /* SPONSOR lOGO */
    .logo-container {
        margin: 8rem 3rem;
    }
    /* PHOTO GRID */
    .readmore {
        font-size: 2.3rem;
        width: 16.5rem;
        height: 6.5rem;
    }
}

@media screen and (max-width: 490px) {
    /* .heading {
        color: black;
    } */
    /* PHOTO GRID */
    .photo-container {
        margin: 6rem 3rem;    
    }
    .readmore {
        font-size: 2.2rem;
        width: 15.5rem;
        height: 6rem;
    }
}

@media screen and (max-width: 445px) {
    /* .heading {
        color: purple;
    } */
    /* COMMON STYLES */
    body {
        background-size: 95%;
    }
    /* HEADER LOGO */
    .heading {
        font-size: 2.8rem;
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 11rem;  
    }
    /* SPONSOR lOGO */
    .logo-container {
        margin: 8rem 2.5rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 6rem 2.5rem;    
    }
    .p1 {
        width: 94%;
        margin-top: 2rem;
    }
    .readmore {
        left: 54%;
    }
    /* FOOTER */
    .footer {
        height: 65vw;
    }
     .icon {
        font-size: 2rem;
    }
}

@media screen and (max-width: 414px) {
    /* .heading {
        color: crimson;
    } */
    /* PHOTO GRID */
    .readmore {
        font-size: 2rem;
        height: 5.5rem;
        left: 54%;
    }
}

@media screen and (max-width: 402px) {
    /* .heading {
        color: grey;
    } */
    /* SPONSOR lOGO */
    .logo-container {
        grid-template-columns: 1fr 1fr;
        margin: 8rem 2rem;
    }
    /* PHOTO GRID */
    .photo-container {
        grid-template-columns: 1fr;
        width: 90%;  
        margin: 5rem 3rem;    
    }
    .readmore {
        font-size: 2.5rem;
        width: 20rem;
        height: 7rem;
        top: 45%;
        left: 22%;
    }
}

@media screen and (max-width: 375px) {
    /* .heading {
        color: tan;
    } */
    /* COMMON STYLES */
    body {
        background-size: 100%; 
    }
    /* HEADER LOGO */
    .logo {
        width: 45%;
    }
    /* SPONSOR lOGO */
    .logo-container {
        margin: 8rem 1.5rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 5rem 2.5rem;    
    }
    .readmore {
        left: 20%;
    }
    /* FOOTER */
    .footer {
        height: 80vw;
    }
}

@media screen and (max-width: 350px) {
    /* .heading {
        color: greenyellow;
    } */
    /* HEADER LOGO */
    .heading {
        font-size: 2.5rem; 
    }
    /* PHOTO GRID */
    .readmore {
        left: 18%;
        top: 44%;
    }
     /* FOOTER */
    .foot-logo {
        width: 25%;
    }
    .copyright {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 328px) {
    /* .heading {
        color: white;
    } */
    /* PHOTO GRID */
    .readmore {
        left: 16%;
        top: 44%;
        width: 19rem;
    }
}

@media screen and (max-width: 305px) {
    /* .heading {
        color: red;
    } */
    /* COMMON STYLES */
    body {
        background-size: 105%;
    }
    /* HEADER NAVBAR */
    .logo {
        width: 55%;
    }
    /* SPONSOR lOGO */
    .logo-container {
        margin: 8rem 1rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 5rem 2.2rem;    
    }
    .readmore {
        font-size: 2.3rem;
        left: 17%;
        width: 17rem;
        height: 6.5rem;
    }
    /* FOOTER */
    .footer {
        height: 85vw;
    }
}

@media screen and (max-width: 298px) {
    /* .heading {
        color: darkblue;
    } */
    /* HEADER LOGO */
    .heading {
        font-size: 2.2rem; 
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 10rem;  
    }
    /* SPONSOR lOGO */
    .logo-container {
        margin: 6rem .5rem;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 5rem 2rem;    
    }
    .readmore {
        left: 14.3%;
    }
    /* FOOTER */
    .copyright {
        font-size: 1rem;
    }
}

@media screen and (max-width: 252px) {
    /* .heading {
        color: darkolivegreen;
    } */
    /* HEADER LOGO */
    .heading {
        font-size: 2rem; 
    }
    /* SPONSOR lOGO */
    .logo-container {
        margin: 5rem 0;
    }
    /* PHOTO GRID */
    .photo-container {
        margin: 5rem 1.8rem;    
    }
    .p1 {
        width:92%;
    }
    .readmore {
        font-size: 2.1rem;
        left: 13%;
        width: 16rem;
        height: 6.2rem;
    }
    /* FOOTER */
    .footer {
        height: 97vw;
    }
}

@media screen and (max-width: 242px) {
    /* .heading {
        color: black;
    } */
    /* PHOTO GRID */
    .readmore {
        font-size: 2rem;
        top: 43%;
        width: 15rem;
        height: 6.2rem;
    }
}

@media screen and (max-width: 230px) {
    /* .heading {
        color: whitesmoke;
    } */
    /* PHOTO GRID */
    .photo-container {
        margin: 5rem 1.5rem;    
    }
    .readmore {
        left: 11%;
    }
}

@media screen and (max-width: 218px) {
    /* .heading {
        color: red;
    } */
    /* PHOTO GRID */
    .readmore {
        left: 10%;
    }
}

@media screen and (max-width: 212px) {
    /* .heading {
        color: powderblue;
    } */
    /* HEADER LOGO */
    .heading {
        font-size: 1.8rem; 
    }
    /* INVISIBLE LINK */
    .invisible-link {
        font-size: 8rem;  
    }
    /* PHOTO GRID */
    .readmore {
        display: none;
    }
    /* FOOTER */
    .footer {
        height: 135vw;
    }
    .foot-logo {
       width: 35%;
   }
   .copyright {
       font-size: .8rem;
   }
}


